.splash-section {
  background-color: #FED728;
  height: 540px;
  margin-top: -48px;
}
.splash-content-container {
  padding-top: 80px;
}
.main-header {
  font-size: 36px;
  font-weight: bold;
}
.sub-main-header {
  font-size: 22px;
  font-weight: 'light';
}